{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <article>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <hr>
                <h2 class="logo-font mb-4">About company</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-left">
                <section>

                    <h6> <strong> Welcome to the Poster Shop!</strong></h6>



                    <p>Poster Shop is your premier destination for vintage posters that evoke nostalgia, charm, and a
                        sense of timeless elegance. As avid collectors and enthusiasts of vintage art, we are passionate
                        about curating a diverse selection of posters that capture the essence of bygone eras.</p>


                    <p>Our journey began with a love for the unique aesthetic and historical significance of vintage
                        posters. We recognized the magic in these pieces – from iconic movie posters to classic travel
                        advertisements – and wanted to share that magic with fellow aficionados around the world.</p>


                    <p>At Poster Shop, you'll find an extensive collection of authentic vintage posters
                        spanning a wide range of themes, styles, and periods. Whether you're drawn to the allure of Art
                        Deco, the whimsy of mid-century illustrations, or the bold colors of retro advertising, we have
                        something to suit every taste and decor style.</p>


                    <p id="our-mission"><strong>Our Mission</strong>

                        <p>At Poster Shop, our mission is to preserve the rich heritage of vintage poster art and
                            make it accessible to enthusiasts, collectors, and aficionados worldwide. We strive to
                            celebrate
                            the artistic and cultural significance of vintage posters by curating a comprehensive
                            selection
                            that showcases the diversity of this captivating art form. Through our platform, we aim to
                            foster an appreciation for the craftsmanship, creativity, and historical context embedded
                            within
                            each poster, inviting our customers to embark on a journey through time and culture with
                            every
                            acquisition.</p>

                        <p id="our-values"> <strong>Values</strong></p>

                        <p>Authenticity: We are committed to offering only authentic vintage posters sourced from
                            reputable collectors, galleries, and estates. Each poster in our collection undergoes
                            thorough
                            authentication and verification processes to ensure its originality and historical
                            integrity.</p>

                        <p>Quality: We prioritize quality in every aspect of our operations, from the selection of
                            posters to customer service. Our team meticulously inspects each poster to guarantee its
                            condition,
                            clarity, and aesthetic appeal, delivering exceptional quality to our customers.</p>

                        <p>Curation: With a passion for vintage poster art, our team meticulously curates a diverse
                            collection that reflects the breadth and depth of this captivating art form. We carefully
                            select
                            posters based on their artistic merit, historical significance, and cultural relevance,
                            offering our
                            customers a curated selection of timeless treasures to explore and acquire.</p>

                        <p>Accessibility: We believe that everyone should have the opportunity to experience the beauty
                            and allure of vintage poster art. As such, we strive to make our collection accessible to
                            enthusiasts, collectors, and art lovers of all backgrounds, providing a user-friendly
                            platform and
                            exceptional customer service to facilitate an enjoyable and seamless shopping experience.
                        </p>

                        <p>Sustainability: We are committed to sustainability and responsible sourcing practices. By
                            giving new life to vintage posters and promoting the reuse and preservation of cultural
                            artifacts,
                            we contribute to the reduction of waste and environmental impact associated with traditional
                            manufacturing processes.</p>

                        <p>At Poster Shop, we are dedicated to preserving the legacy of vintage poster art and
                            sharing its beauty with the world. Join us in celebrating the artistry, history, and
                            enduring appeal of vintage posters as we continue our mission to inspire, educate, and
                            delight customers worldwide.</p>


                </section>

            </div>
        </div>
    </article>
</div>
{% endblock %}