{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <article>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <hr>
                <h2 class="logo-font mb-4">About company</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-left">
                <section>

                    <p> Welcome to Poster Shop!</p>



                    <p>Poster Shop is your premier destination for vintage posters that evoke nostalgia, charm, and a
                        sense of timeless elegance. As avid collectors and enthusiasts of vintage art, we are passionate
                        about curating a diverse selection of posters that capture the essence of bygone eras.</p>


                    <p>Our journey began with a love for the unique aesthetic and historical significance of vintage
                        posters. We recognized the magic in these pieces – from iconic movie posters to classic travel
                        advertisements – and wanted to share that magic with fellow aficionados around the world.</p>


                    <p>At Poster Shop, you'll find an extensive collection of authentic vintage posters
                        spanning a wide range of themes, styles, and periods. Whether you're drawn to the allure of Art
                        Deco, the whimsy of mid-century illustrations, or the bold colors of retro advertising, we have
                        something to suit every taste and decor style.</p>


                    <p>Each poster in our collection is meticulously sourced and carefully curated to ensure its
                        authenticity and quality. We take pride in offering only genuine vintage posters, sourced from
                        trusted suppliers and collectors, so you can be confident in the provenance and value of your
                        purchase.</p>


                    <p>In addition to our curated collection, we also provide expert framing services to help you
                        showcase your vintage treasures in style. Our custom framing options allow you to personalize
                        your poster display and protect your investment for years to come.</p>


                    <p>At Poster Shop, we are committed to providing exceptional customer service and a
                        seamless shopping experience. Whether you're a seasoned collector or a newcomer to the world of
                        vintage posters, our knowledgeable team is here to assist you every step of the way.</p>


                    <p>Join us in celebrating the beauty, nostalgia, and artistry of vintage posters at Poster Shop – where every poster tells a story, and every purchase brings a piece of history into
                        your home.</p>


                </section>

            </div>
        </div>
    </article>
</div>
{% endblock %}