{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <article>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <hr>
                <h2 class="logo-font mb-4">Shipping</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto text-left">
                <section>

                    <p> Thank you for shopping at PosterPerfect.com! We strive to provide you with the best possible
                        shopping experience, including fast and reliable shipping options. Please review the following
                        information regarding our shipping policies:</p>

                    <p><strong> 1. Shipping Rates and Delivery Times</strong></p>
                    <p>We offer various shipping options to accommodate your needs. Shipping rates and delivery times
                        may vary depending on the shipping method selected and your location. During the checkout
                        process, you will be presented with available shipping options and their respective costs.</p>

                    <p><strong>2. Processing Time</strong></p>
                    <p>Orders are typically processed within 1-2 business days after payment confirmation. Please note
                        that processing times may vary during peak seasons or promotional periods. Once your order has
                        been processed, you will receive a confirmation email with tracking information.</p>


                    <p><strong>3. Shipping Methods</strong></p>
                    <p> We offer the following shipping methods:</p>
                    <ul>
                        <li> Standard Shipping: Delivery typically takes 5-7 business days.</li>
                        <li>Expedited Shipping: Delivery typically takes 2-3 business days.</li>
                        <li>Overnight Shipping: Delivery is guaranteed within 1 business day.</li>
                    </ul>
                    <p>Please note that delivery times are estimates and not guaranteed. Actual delivery times may vary
                        depending on factors such as carrier delays, weather conditions, and shipping destination.</p>


                    <p><strong>4. Tracking Your Order</strong></p>
                    <p>Once your order has been shipped, you will receive a shipping confirmation email containing a
                        tracking number. You can use this tracking number to track the status of your shipment on our
                        website or through the carrier's website.</p>

                    <p><strong>5. Shipping Costs</strong></p>
                    <p>Shipping costs are calculated based on the total weight of your order and the selected shipping
                        method. Shipping costs will be displayed during the checkout process before you complete your
                        purchase.</p>

                    <p><strong>6. Shipping Damage or Loss</strong></p>
                    <p>In the unlikely event that your order arrives damaged or is lost during transit, please contact
                        our customer service team immediately at [contact@posterperfect.com]. We will work with you to
                        resolve the issue and ensure your satisfaction.</p>

                    <p> If you have any further questions or concerns regarding shipping, please don't hesitate to
                        contact us. Thank you for choosing PosterPerfect.com!</p>


                </section>

            </div>
        </div>
    </article>
</div>
{% endblock %}