{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- Error handler 404 page -->
    <section>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">404 Error</h2>
                    
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1>Whoops! This page got lost in conversation.</h1>
                    <h3>Don't worry. Head over to our Posters page clicking on the button below to see a selection of
                        our posters.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mt-3">
                    <a href="{% url 'posters' %}" class="shop-now-button btn btn-lg rounded-2 text-uppercase py-3">Shop
                        Now</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}